<app-navbar></app-navbar>
<a routerLink="/events"></a>
<!-- <nav>
  <ul>
    <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">sign in</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">sign up</a></li>
    <li><a routerLink="/events" routerLinkActive="active" ariaCurrentWhenActive="page">events</a></li>
  </ul>
</nav> -->
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>